@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary: #48c;
  --danger: #c46;
  --success: #4a8;
  --secondary: #666;
  --dark: #333;
  --light: #eee;
  --link: #4bc;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
