@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary: #48c;
  --danger: #c46;
  --success: #4a8;
  --secondary: #666;
  --dark: #333;
  --light: #eee;
  --link: #4bc;
  --warning: #da2;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.main-table {
  border-collapse: collapse;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.main-table td {
  text-align: center;
  white-space: nowrap;
  padding: 0;
}

.operador-td,
.equipo-td {
  background-color: var(--dark);
  color: var(--light);
}

.operador-td div,
.equipo-td div {
  padding: 0.5rem;
}

.medidas-container {
  display: flex;
  flex-direction: column;
}

.medidas-container input {
  flex: 1;
  padding: 0.5em 1em;

  border: 1px solid rgba(0, 0, 0, 0.3);
}

.operador-tr {
  border-top: 1px solid var(--secondary);
}

.btn {
  cursor: pointer;
  outline: 0;
  border: 0;

  padding: 0.5em 1em;
  border-radius: 0.5em;

  transition: filter 0.2s ease;
  font-size: 1.2em;

  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  filter: brightness(1.1);
}

.btn-warning {
  background-color: var(--warning);
  color: var(--dark);
}

.btn-success {
  background-color: var(--success);
  color: var(--light);
}

.app-controls {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin: 2em;
}

.app-content {
  margin: 2em;
  display: flex;
  justify-content: center;
}

.app-resultados {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.resultados-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.resultado {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.5em 1em;
  font-size: 1.2em;

  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;

  border-radius: 0.5em;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.rr-rating {
  background-color: var(--success);
  color: var(--light);
  width: 200px;
  padding: 1em;

  border-radius: 0.5em;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}
